.card {
    background: white;
    padding:3%;
    box-shadow: 0px 2px 10px #888888;
}

.card-body {
    margin-top:3%;
}

.card-header {
    margin-bottom:3%;
}

.timestamp {
    color: gray;
    font-size: 12px;
}

.heading {
    font-size: 30px;
}